// Add your own custom styles here
/* gradient source: https://uigradients.com/#Wiretap */
/* decreased transparency to 80% */
.marker-highlight {
    background-image: linear-gradient(to right, #06C8F0cc, #F9B509cc, #6CCE45cc);
    border-radius: 6px;
    padding: 3px 6px;
}

.marker-highlight-red {
    border-radius: 1em 0 1em 0;
    padding: 3px 6px;
    background-image: linear-gradient(-100deg,
            rgba(255, 20, 0, 0.2),
            #F00709,
            rgba(255, 20, 0, 0.1));
}

.marker-highlight-yellow {
    border-radius: 1em 0 1em 0;
    padding: 3px 6px;
    background-image: linear-gradient(-100deg,
            rgba(255, 224, 0, 0.2),
            #F9B509,
            rgba(255, 224, 0, 0.1));
}

.marker-highlight-green {
    border-radius: 1em 0 1em 0;
    padding: 3px 6px;
    background-image: linear-gradient(-100deg,
            rgba(0, 255, 20, 0.2),
            #6CCE45,
            rgba(0, 255, 20, 0.1));
}

.marker-highlight-blue {
    border-radius: 1em 0 1em 0;
    padding: 3px 6px;
    background-image: linear-gradient(-100deg,
            rgba(0, 20, 255, 0.2),
            #06C8F0,
            rgba(0, 20, 255, 0.1));
}